<div class="action">
    <div class="btnsArea"></div>
    <div class="searchArea J-search">
			<form action="" method="post" class="form form-horizontal J-searchForm">
				<!-- <span class="J-schools"></span> -->
				<span class="select-box w_70">
				  <select class="select J-select" name="isUse" id="isUse">
					  <option value="" selected>状态</option>
					  <option value="1" >启用</option>
					  <option value="0">停用</option>
				  </select>
				</span>
				<input type="text" placeholder="区域" value="" id="keyWord" name="keyWord" class="input-text"/>
				<button class="btn btn-primary radius J-searchBtn" type="submit">搜索</button>
			</form>
		</div>
	</div>
	<div class="table-wrapper">
		<table id="mmg"></table>
		<div class="table-paginator">
			<div id="paginator"></div>
		</div>
	</div>
<script type="text/html" id="addBtn">
	<a href="javascript:void(0);" class="btn btn-primary radius J-add" title="添加监控定价"><i class="iconfont">&#xe618;</i>添加监控定价</a>
</script>
<script type="text/html" id="delAllBtn">
	<a href="javascript:void(0);" class="btn btn-default radius J-tingyongAll" title="批量停用"><i class="iconfont">&#xe625;</i>批量停用</a>
	<a href="javascript:void(0);" class="btn btn-success radius J-qiyongAll" title="批量启用"><i class="iconfont">&#xe630;</i>批量启用</a>
</script>
	<script type="text/html" id="addTpl">
		<form action="" method="post" class="form form-horizontal J-addForm">
            <table  class="table tableStyle">
                <tbody>
                <!-- <tr>
                    <td width="15%" class="tdbg tc"><span class="f-red"></span>学校</td>
                    <td class="J-school">
                
                    </td>
                </tr> -->
                <tr>
                    <td width="15%" class="tdbg tc">时间</td>
                    <td>
                        <input class="input-text" type="text" name="months" placeholder="几个月" datatype="zzs" />
                    </td>
                </tr>
                <tr>
                    <td class="tdbg tc"><span class="f-red"></span>金额</td>
                    <td><input class="input-text" type="text" name="price" datatype="numFeifushu" /></td>
                </tr>
                <tr>
                    <td class="tdbg tc"><span class="f-red"></span>原价</td>
                    <td><input class="input-text" type="text" name="originalPrice" datatype="numFeifushu" ignore="ignore" /></td>
                </tr>
                <tr>
                    <td class="tdbg tc"><span class="f-red"></span>说明</td>
                    <td><textarea class="textarea" name="remark" id="" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td class="tdbg tc">状态</td>
                    <td><label><input type="radio" name="isUse" value="1" checked />启用</label>
                        <label><input type="radio" name="isUse" value="0">停用</label></td>
                </tr>
                </tbody>
            </table>
		</form>
	</script>
<script type="text/html" id="editTpl">
	<form action="" method="post" class="form form-horizontal J-editForm">
		<input type="hidden" name="id" value="{{ id }}">
        <table  class="table tableStyle">
            <tbody>
           <!--  <tr>
               <td width="15%" class="tdbg tc"><span class="f-red"></span>学校</td>
               <td class="J-school">
           
               </td>
           </tr> -->
            <tr>
                <td width="15%"  class="tdbg tc">时间</td>
                <td>
                    <input class="input-text" type="text" name="months" value="{{ months }}" placeholder="几个月" datatype="zzs" />
                </td>
            </tr>
            <tr>
                <td class="tdbg tc"><span class="f-red"></span>现价</td>
                <td><input class="input-text" type="text" name="price" value="{{ price }}" datatype="numFeifushu" /></td>
            </tr>
            <tr>
                <td class="tdbg tc"><span class="f-red"></span>原价</td>
                <td><input class="input-text" type="text" name="originalPrice" value="{{ originalPrice }}" datatype="numFeifushu" ignore="ignore" /></td>
            </tr>
            <tr>
                <td class="tdbg tc"><span class="f-red"></span>说明</td>
                <td><textarea class="textarea" name="remark" cols="30" rows="10">{{ remark }}</textarea></td>
            </tr>
            <tr>
                <td class="tdbg tc">状态</td>
                <td><label><input type="radio" name="isUse" value="1" {{ if isUse == 1}} checked {{/if}} />启用</label>
                    <label><input type="radio" name="isUse" value="0" {{ if isUse == 0}} checked {{/if}}>停用</label></td>
            </tr>
            </tbody>
        </table>
	</form>
</script>
<script type="text/html" id="chkTpl">
	<form action="" method="post" class="form form-horizontal J-chkForm">
		<input type="hidden" name="id" value="{{ id }}">
        <table  class="table tableStyle">
            <tbody>
            <!-- <tr>
                <td width="15%" class="tdbg tc"><span class="f-red"></span>学校</td>
                <td>
                    {{ schoolName }}
                </td>
            </tr> -->
            <tr>
                <td width="15%" class="tdbg tc">时间</td>
                <td>
                    {{ months }}个月
                </td>
            </tr>
            <tr>
                <td class="tdbg tc"><span class="f-red"></span>金额</td>
                <td>{{ price }}</td>
            </tr>
              <tr>
                  <td class="tdbg tc"><span class="f-red"></span>原价</td>
                  <td>{{ originalPrice }}</td>
              </tr>
              <tr>
                  <td class="tdbg tc"><span class="f-red"></span>说明</td>
                  <td>{{ remark }}</td>
              </tr>
              <tr>
                  <td class="tdbg tc">状态</td>
                  <td>
                      {{ if isUse == 1}} 启用 {{/if}}
                      {{ if isUse == 0}} 停用 {{/if}}
              </tr>
          </tbody>
      </table>
  </form>
</script>
<script type="text/javascript" src="../static/admin/js/service/spjk-jiankongdingjia.js"></script>
<!-- <script type="text/javascript" src="../static/admin/js/serviceMin/spjk-quyukongzhi.min.js"></script> -->






