    <div class="btnsArea"></div>
    <div class="action">
    	<div class="searchArea J-search">
    		<form action="" method="post" class="form form-horizontal J-searchForm">
    			<span class="J-schools"></span>
    			<span class="select-box w_70">
    				<select class="select J-select" name="isUse" id="isUse">
    					<option value="" selected>状态</option>
    					<option value="1" >启用</option>
    					<option value="0">停用</option>
    				</select>
    			</span>
    			<span class="select-box w_70">
    				<select class="select J-select" name="gender" id="gender">
    					<option value="" selected>性别</option>
    					<option value="1">男</option>
    					<option value="0">女</option>
    				</select>
    			</span>
    			<span class="select-box w_auto">
    				<select class="select J-select" name="smsSendMode" id="smsSendMode">
    					<option value="" selected>短信发送模式</option>
    					<option value="0">不发</option>
    					<option value="1">及时发送</option>
    					<option value="2">需要审核</option>
    				</select>
    			</span>
    			<input type="text" placeholder="手机号/姓名/门禁卡" value="" id="keyWord" name="keyWord" class="input-text"/>
    			<button class="btn btn-primary radius J-searchBtn" type="submit">搜索</button>
    		</form>
    	</div>
    </div>
    <div class="table-wrapper">
    	<table id="mmg"></table>
    </div>
    <div class="table-paginator">
    	<div id="paginator"></div>
    </div>

    <script type="text/html" id="addBtn">
	<a href="javascript:void(0);" class="btn btn-primary radius J-add" title="添加宝贝"><i class="iconfont">&#xe618;</i>添加园长</a>
</script>
    <script type="text/html" id="delAllBtn">
	<a href="javascript:void(0);" class="btn btn-default radius J-tingyongAll" title="批量停用"><i class="iconfont">&#xe625;</i>批量停用</a>
	<a href="javascript:void(0);" class="btn btn-success radius J-qiyongAll" title="批量启用"><i class="iconfont">&#xe630;</i>批量启用</a>
</script>
    <script type="text/html" id="addTpl">
	<form action="" method="post" class="form form-horizontal J-addForm">
		<p style="font-size:12px">eg:如果您添加的<span class="f-red">手机号</span>在教职工管理及家长管理中<span class="f-red">已存在</span>，那么对应的姓名、及性别信息<span class="f-red">同时会修改</span>、如性别不一致，请到家长管理中<span class="f-red">修改宝贝称呼</span>!</p>
		<table class="table tableStyle">
			<tbody>
			<tr>
				<td width="12%" class="tdbg tr"><span class="f-red">*</span>学校</td>
				<td width="35%"><span class="J-school"></span></td>
				<td width="13%" class="tdbg tr"><span class="f-red">*</span>姓名</td>
				<td width="35%"><input class="input-text" type="text" name="name" datatype="cname"  /></td>
			</tr>
			<tr>
				<td width="12%" class="tdbg tr">英文名</td>
				<td>
					<input class="input-text" type="text" name="enName" datatype="ename" ignore="ignore" />
				</td>
				<td width="12%" class="tdbg tr"><span class="f-red">*</span>手机号</td>
				<td>
					<input class="input-text" type="text" name="telephone" id="telephone" datatype="m" />
				</td>
			</tr>
			<tr>
				<td class="tdbg tr">门禁卡号</td>
				<td>
					<input class="input-text" type="text" name="rfId" datatype="rfId" ignore="ignore" />
				</td>
				<td class="tdbg tr">性别</td>
				<td>
					<label><input type="radio" name="gender" value="1" checked >男</label>
					<label style="margin-left:10px;"><input type="radio" name="gender" value="0" >女</label>
				</td>
			</tr>
			<tr>
				<td class="tdbg tr">状态</td>
				<td colspan="3">
					<label><input type="radio" name="isUse" value="1" checked >启用</label>
					<label style="margin-left:10px;"><input type="radio" name="isUse" value="0" >停用</label>
				</td>
				<!-- <td class="tdbg tr">短信发送模式</td>
				<td>
					<label><input type="radio" name="smsSendMode" value="0" >不发</label>
					<label style="margin-left:10px;margin-right:10px;"><input type="radio" name="smsSendMode" value="1" checked>及时发送</label>
					<label><input type="radio" name="smsSendMode" value="0" >需要审核</label>
				</td> -->
			</tr>
			<tr>
				<td class="tdbg tr">简介</td>
				<td colspan="3"><textarea class="textarea" name="brief" cols="30" rows="10">{{ brief }}</textarea></td>
			</tr>
			</tbody>
		</table>
	</form>
</script>
    <script type="text/html" id="editTpl">
    <p style="font-size:12px">eg:如果您添加的<span class="f-red">手机号</span>在教职工管理及家长管理中<span class="f-red">已存在</span>，那么对应的姓名、及性别信息<span class="f-red">同时会修改</span>、如性别不一致，请到家长管理中<span class="f-red">修改宝贝称呼</span>!</p>
     <p style="font-size:12px">eg:2、如更改<span class="f-red">手机号</span>,那么对应的账户、及登录密码<span class="f-red">同时会修改成</span><span class="f-red">新手机号</span>!</p>
	<form action="" method="post" class="form form-horizontal J-editForm">
		<input type="hidden" name="id" value="{{ id }}">
		<input type="hidden" name="accountId" value="{{ accountId }}">
		
		<table class="table tableStyle">
			<tbody>
			<tr>
				<td width="12%" class="tdbg tr"><span class="f-red">*</span>学校</td>
				<td width="35%"><span class="J-school"></span></td>
				<td width="13%" class="tdbg tr"><span class="f-red">*</span>姓名</td>
				<td width="35%"><input class="input-text" type="text" name="name" value="{{ name }}" datatype="cname" /></td>
			</tr>
			<tr>
				<td class="tdbg tr">英文名</td>
				<td>
					<input class="input-text" type="text" name="enName" value="{{ enName }}" datatype="ename" ignore="ignore" />
				</td>
				<td class="tdbg tr"><span class="f-red">*</span>手机号</td>
				<td>
					<input class="input-text" type="text" name="telephone" value="{{ telephone }}" datatype="m" />
				</td>
			</tr>
			<tr>
				<td class="tdbg tr">门禁卡号</td>
				<td>
					<input class="input-text" type="text" name="rfId" value="{{ rfId }}" datatype="rfId" ignore="ignore" />
				</td>
				<td class="tdbg tr">性别</td>
				<td>
					<label><input type="radio" name="gender" value="1" {{ if gender == 1}} checked {{/if}}>男</label>
					<label style="margin-left:10px;"><input type="radio" name="gender" value="0" {{ if gender == 0}} checked {{/if}}>女</label>
				</td>
			</tr>
			<tr>
				<td class="tdbg tr">状态</td>
				<td colspan="3">
					<label><input type="radio" name="isUse" value="1" {{ if isUse == 1}} checked {{/if}} >启用</label>
					<label style="margin-left:10px;"><input type="radio" name="isUse" value="0" {{ if isUse == 0}} checked {{/if}}>停用</label>
				</td>
				<!-- <td class="tdbg tr">短信发送模式</td>
				<td>
				                    <label><input type="radio" name="smsSendMode" value="0" {{ if smsSendMode == 0}} checked {{/if}} >不发</label>
				                    <label style="margin-left:10px;margin-right:10px;"><input type="radio" name="smsSendMode" value="1" {{ if smsSendMode == 1}} checked {{/if}} >及时发送</label>
				                    <label><input type="radio" name="smsSendMode" value="2" {{ if smsSendMode == 2}} checked {{/if}} >需要审核</label>
				</td> -->
			</tr>
			<tr>
				<td class="tdbg tr">简介</td>
				<td colspan="3"><textarea class="textarea" name="brief" cols="30" rows="10">{{ brief }}</textarea></td>
			</tr>
			</tbody>
		</table>
	</form>
</script>
    <script type="text/html" id="chkTpl">
	<form action="" method="post" class="form form-horizontal J-chkForm inputNo">
		<input type="hidden" name="id" value="{{ id }}">
		<table class="table tableStyle">
			<tbody>
			<tr>
				<td width="12%" class="tdbg tr">学校</td>
				<td width="35%">{{ schoolName }}</td>
				<td width="13%" class="tdbg tr">姓名:</td>
				<td width="35%">{{ name }}</td>
			</tr>
			<tr>
				<td class="tdbg tr">英文名</td>
				<td>{{ enName }}</td>
				<td class="tdbg tr">手机号</td>
				<td>{{ telephone }}</td>
			</tr>
			<tr>
				<td class="tdbg tr">门禁卡号</td>
				<td>{{ rfId }}</td>
				<td class="tdbg tr">性别</td>
				<td>{{ if gender == 1}} 男 {{ else }} 女 {{/if}}</td>
			</tr>
			<tr>
				<td class="tdbg tr">状态</td>
				<td colspan="3">{{ if isUse == 1}} 启用 {{ else }} 停用 {{/if}}</td>
				<!-- <td class="tdbg tr">短信发送模式</td>
				<td>
					{{ if isUse == 0}} 不发 {{/if}}
					{{ if isUse == 1}} 及时发送 {{/if}}
					{{ if isUse == 2}} 需要审核 {{/if}}
				</td> -->
			</tr>
			<tr>
				<td class="tdbg tr">简介</td>
				<td colspan="3"><div style="height:100px;">{{ brief }}</div></td>
			</tr>
			</tbody>
		</table>
	</form>
</script>
    <script type="text/javascript" src="../static/admin/js/service/yhgl-yuanzhang.js"></script>
   
 <!--    <script type="text/javascript" src="../static/admin/js/serviceMin/yhgl-yuanzhang.min.js"></script> -->
