/*home style*/

body{ overflow-y: hidden;}
[class^="col-"], [class*=" col-"]{ z-index:0;  }
a:hover{ text-decoration:none;}
.Hui-wraper {padding: 0 10px;}
.header{ width:100%;color:#fff;}
.header{top: 0;height:48px;line-height:48px;background: #4ec5b7;color:#fff;}
a.logo{ color:#fff;}
.logo{ width:48px;height:48px; background:url("../images/logo.png");display:block;border-radius: 48px;text-indent: -2000px;}

.userbar{float: right;margin-right: 20px;}
.userbar li{float:left;margin-left:10px;}
a.user{font-size:14px;color:#fff;display:block;padding: 0 10px 0 10px;height:48px;}
a.user:hover,.active .user{background: rgba(165, 125, 35, 0.57);}

.submenu{ position:relative; z-index: 99999;}
.submenu .item{ }
.submenu .item-box{position:absolute;display:none;top:48px;right: -2px;background: #fff;z-index: 999999;min-width: 100px;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.submenu.active .item-box{display:block;border:1px solid #ddd;/* width: 96%; */text-align: center;}
.item-box a{display:block;line-height: 28px;border-bottom: 1px solid #ddd;/* padding: 0 20px; */}

/*main*/
.main{right: 0;bottom: 0;border: #eaedf2;overflow: hidden;}
.side-left{width:160px;position:absolute;z-index:1;left:0;bottom:0;background: #4ec5b7;top: 48px;overflow: hidden;}
.side-cont{margin-left: 160px;overflow:hidden;z-index:1;background-color:#fff;}

.breadcrumb{position: relative;z-index: 3;height: 40px;overflow: hidden;background:#efeef0;line-height: 40px;}
.breadcrumb li{ float:left;margin-right: 5px; list-style: none;}
.breadcrumb .line{ width:12px;height:37px;background:url(../images/crumbnav_new.png) no-repeat;background-position:-25px 0;}
.homes a{  display:block;float:left; width:35px;height:37px;background:url(../images/crumbnav_new.png) no-repeat;}
.homes a:hover,.homes a.active{ background-position:0 -40px;}
.article{ }
.article iframe{position:absolute;bottom:0;height:100%;width:100%;}
.bar{background: #30afa0;height:40px;line-height: 40px;overflow: hidden;border-bottom: 1px solid rgba(165, 125, 35, 0.57);}

.side-left a{color: #fff;}
.bar a{font-size:18px;display:inline-block;width:30%;text-align:center;}


.mmGrid .mmg-btnBackboardDn{ display:none;}
.btnsArea{ float: left; margin-top: 5px;}
.btnsArea a{ margin-right: 5px !important;}
#article-main{ margin: 10px 10px 20px 20px;}

.menu-box{/* position:absolute; *//* top: 41px; *//* bottom:0; *//* overflow:hidden; *//* width: 100%; */}
.menu-box dd{ display:none;}
.menu-box .active dd{ display:block;}
.menu-box a{ display:block;padding: 0 15px;height:38px;line-height:38px;font-size: 14px;}
.menu-box dd a{ padding-left:40px;font-size: 13px;}
.menu-box .iconfont{ font-size:22px;}
.active dt a{background: #30afa0;}

.activeClose .bar .iconfont{ display:none;}
.activeClose .bar .J-sideClose{display:block;margin: -2px auto;font-size: 24px;width: 100%;}
.activeClose .menu-box dt span{ display:none;}
.activeClose .menu-box .iconfont{ font-size:28px;}
.menu-box a:hover,.menu-box dd a.actived{background: #30afa0;color: #fff;}
.activeClose dt a:hover{background: #3D9288; /* border-top: 1px solid #3B756E; */}

.activeClose .menu-box dd span{display:block;padding-left:0;margin-left: -31px;width: 28px;height: 28px;overflow: hidden;border: 1px solid #fff;border-radius: 100%;text-align: center;line-height: 28px;padding: 0 5px;padding-top: 3px;position: relative;top: 3px;}



.searchArea { float: right;}
.searchArea .input-text { width:130px; /* margin-right:10px; */}

.table-wrapper{ margin: 10px 0;}

.defaultPhoto{ display:block;text-indent:-2000px;margin: 8px auto 0;width: 36px;height: 36px;background:url("../images/icon_user.png") no-repeat;background-size: 100%;position: relative;top: -5px;opacity: 0.6;}

.table-action a{ display:inline-block; width:30px; font-size: 18px;     -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;}
.table-action a:last-child{ margin-right:0;}
.table-action a:hover{ font-size:18px; }

.table-paginator{width: 100%;border-top: 1px solid #ddd;}

.table-wrapper{margin-top: 10px;}

.row-line{border-bottom: 1px solid #f0f0f0;padding-bottom: 15px;height: auto;}
.row-line strong{font-size: 16px;font-weight: normal;display: block;text-align: left;}
.row-line p{ font-size:12px;text-align:left;margin-bottom: 0;line-height: 1.8;margin-top: 15px;color: #ccc;}

.row-line .avatar{width: 80px;height: 80px;background: #f0f0f0;border-radius: 80px;margin-left: 35px;margin-right: 20px;overflow: hidden;background: url("../images/man@2x.png") no-repeat;background-size: 80px;opacity: 0.8;margin-top: 15px;text-indent: -2000px;}
.row-line .avatarWomen{ width:80px;height:80px;border-radius: 80px;background:url("../images/woman@2x.png") no-repeat;background-size:80px;display: inline-block;}
.avatarMan{ display:block;text-indent: -2000px;margin: 0 auto;width: 36px;height: 36px;overflow: hidden;background:url("../images/man@2x.png") no-repeat;background-size: 100%;}
.avatarWomen{ display:block;text-indent: -2000px;margin: 0 auto;width: 36px;height: 36px;overflow: hidden;background:url("../images/woman@2x.png") no-repeat;background-size: 100%;}

.imgPhoto{ border-radius:36px;width:36px;height:36px;overflow:hidden;display:block;margin:0 auto;}

.action{height:auto;overflow:hidden;}
.action a{ margin-right:5px;}

table {table-layout:fixed !important;}
td {height:22px !important; text-overflow: ellipsis;}

.w_50{ width:50px;}
.w_70{ width:70px;}
.w_auto{ width:auto;display: inline-block; margin: 5px 0;}
.btn .iconfont{margin-right: 2px;font-size: 18px;position: relative;top: 1px;}

.select_box {width: 117px; position:relative;top:1px;margin-right:15px;padding:0; font-size:12px;display:inline-block;}
.submit_box {width:100%; position:relative; margin:10px;padding:0; font-size:12px; text-align:center;}
.select_box input {cursor:pointer; display:block;line-height: 29px;width: 96px;height: 29px; overflow:hidden;border:1px solid #ccc; padding-right:20px; padding-left:10px;background: url(http://www.codefans.net/jscss/demoimg/201112/select_input_bg.gif) no-repeat 102px center;}
.select_box ul {width: 108%; position:absolute; left:0; top:25px; border:1px solid #ccc; background:#fff; overflow: hidden;display:none; background:#ebebeb; z-index:99999;}
.select_box ul li {display:block;height: 33px;overflow:hidden;line-height: 34px;padding-left:5px;width:100%;cursor:pointer;}
.hover {background:#ccc;}

.f-red{ color:#b00;}
.f-blue{ color: #0b0;}

.sp-box{ border:1px solid #ddd;padding:5px;}
.sp-box li{ width:100%;height:38px;overflow:hidden;}

/*sidebar*/
.sidebar{ position:fixed;top:0;bottom:0;right:0;width:35px;z-index: 9999999;}
.sidebar .sidebarWrapper{ height:100%; }
.sidebar .sidebarBtn{ position:relative;top: 51%;text-align:center;display:block;background:#7A6E6E;color:#f0f0f0;border-radius:3px;padding:2px 0;}
.sidebar .sidebarBtn:hover,.sidebar .sidebarBtn.active,.sidebar .open .sidebarBtn{ background:#C81623; }
.sidebar .counts{ position:absolute;top: -7px;right: 1px;width: 16px;height: 17px;border-radius:11px;border:1px solid #C81623;color: #c81623;font-size: 12px;background:#fff;}
.sidebar .sidebarBoxs{height:100%;position: absolute; background: #ddd;width:180px;border-radius: 3px;/* padding: 10px; */right: 0px;display: none;border-left: 5px solid #ccc;top: 47px;}
.sidebar .open .sidebarBoxs{ display:block; }
.sidebar .open .sidebarBtn{right: 185px;}
.sidebar .sidebarBoxs .sidebarHeader{ width:100%;height:38px;line-height:38px;font-size: 16px;background:#ECEAEA none repeat scroll 0% 0%;padding: 0 5px;}
.sidebar .sidebarBoxs .sidebarHeader .iconfont{ margin-right:5px; }
.sidebar .sidebarBoxs .sidebarItems{ position:absolute;top:38px;bottom:100px;background:#fff;width:100%;overflow:auto;}
.sidebar .sidebarBoxs .sidebarFooter{position: fixed;bottom: 5px;}
.sidebar .sidebarBoxs .sidebarFooter p{ margin:0;padding: 0 10px;}
.sidebar .sidebarBoxs .sidebarFooter .btn-jiesuan{ position:absolute;right: -97px;top: 1px;}

.sidebar .sidebarBoxs .sidebarHeader a{ float:right;display:block;margin-right:10px;transition: transform 0.2s ease-out 0s;}
.sidebar .sidebarBoxs .sidebarItems li{ position:relative; clear:both;border-bottom:1px dashed #ddd;padding: 10px 10px 20px;}
.sidebar .sidebarBoxs .sidebarItems li p{ margin:0; }
.sidebar .sidebarBoxs .sidebarItems li i{ font-style:normal;}
.sidebar .sidebarBoxs .sidebarItems li .action{display: block;position:absolute;left: 10px;top: 70%;height: 100%;}
.sidebar .sidebarBoxs .sidebarItems li .action a{ margin-right:3px;}
.sidebar .sidebarBoxs .sidebarItems li .p-title,.sidebar .sidebarBoxs .sidebarItems li .p-sub{/* width: 84%; *//* padding-bottom: 2px; */}
.f-blue{ color:#429842;}
#msg{position:fixed;top: 51%; right:35px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360;display: none;}
.iconfont.active{ color:#ddd;}
.count-input{width: 48px !important; text-align: center;border: none;}
.cheng{ margin-left:5px;}




/*通用选项卡样式 tabs*/
.tab-trigger{ border: 1px solid #E0E0E0; background: #fff; font-size:0; margin-left: -1px; margin-right: -1px; width: 100%; z-index: 999; position: relative; height: 36px;}
.tab-trigger-item { display: inline-block; *display:inline;*zoom:1; font-size:12px; text-align: center;cursor:pointer;  margin: 0 0 0 -1px; padding: 0 25px; border: 1px solid #E0E0E0; border-top: 2px solid #fff; height: 36px; line-height: 36px; border-bottom: none; float: left;}
.tab-trigger-item a{ display:block; font-size: 14px;font-weight: 700; color:#444;}
.tab-trigger-item a:hover { text-decoration: none; color: #1369C0;}
.tab-trigger-item-current{ background:#fff; border: solid #eaeaea; border-width: 2px 1px 0;position:relative; top: 0px; margin-top:0;z-index:0; border-top-color: #999;}
.tab-cnt-item {display:none;}
.tab{ clear:both;}
.tab .tab-cnt{ overflow:hidden; clear: both;}

.tab-detail .tab-trigger{ border-bottom: 2px solid #5c85d2;}
.tab-detail .tab-trigger-item a{ font-size:14px;font-family:microsoft yahei;font-weight:normal; height: 33px; background: #FFF; padding: 0 25px;}
.tab-detail .tab-trigger-item{ padding:0; height: 34px; line-height: 33px; margin-bottom: -2px;}
.tab-detail .tab-trigger-item.current{ border: 2px solid #5c85d2;border-bottom-color:#fff; border-right: 3px solid #5c85d2;}
.tab-detail .tab-trigger-item.current a{ background:#fff;}
.tab-detail .tab-trigger-item-last.current{ border-right-width:2px;}

.tab-poi{ position:relative; z-index: 1003;}
.tab-poi .a-btn-big{ position:absolute; z-index: 999; right: 16px; height: 29px; top: 4px; font-size: 14px; line-height: 29px; padding: 0 0; width: 120px;}
.tab-poi .a-btn .tel-ico{ top:1px;}
.spandisc{ display:block;}
.spandisc i{ font-style:normal;margin: 0 10px;}
.f-gray{ color:darkgray;}
.f-darksblue{ color:darkslateblue;}

.selectUl{
    max-height:80px;
    overflow: auto;
}
.selectUl li{ display:inline-block;float: left;margin-right: 5px;margin-bottom: 5px;}
.selectUl li a{ display:block;padding: 0 5px;border:1px solid #ddd;min-height: 24px;background: #ddd;color: #666;}
.selectUl li a:hover,.selectUl li.active a{ background:#5eb95e;color:#fff;}

.wrapper-content{ /* position:relative; */ /* padding: 60px 20px 0; */}
.btn-poi{ position:absolute;right:10px;}

.table{ width:100%; }

.tabs .row{ margin-left:0;margin-right:0; }

.ul-list{}
.ul-list li a{ display:block;margin-bottom:5px;}
.ul-list li.active a{ color:#4ec5b7;}
.tableStyle tr th,.tableStyle tr td{border:1px solid #ddd;position: relative;}
.tableStyle .tdbg,.tableStyle th{ background:#f7f7f7;}
.tableStyle .tr{ text-align:right; }
.tableStyle .tc{ text-align:center; }
.tableStyle .label-title{ width: 92px;text-align:right; display: inline-block; margin-right: 10px;}
.mr10{ margin-right:10px; }
.btn-act{ text-align:right;padding:10px 20px 0; }
.layui-layer-tabmain .tabs{ padding:20px; }

.tableStyleNo tr th,.tableStyleNo tr td{ border:none;}



.inputNo .input-text,.inputNo .textarea{ border:none !important;}
.inputNo .input-text:hover,.inputNo .textarea:hover,.inputNo .input-text:focus{ border:none}

.mmGrid{ min-height: 62px; border-color: #ddd; border-bottom: none; /* box-shadow: 32px 0px 1px  #f0f0f0; */}
.mmGrid .mmg-loading .mmg-loadingText{ display:none;}
.mmGrid .mmg-loading{ margin-top: -21px;width:100%; top: 50% !important; z-index: 9;}


.layui-layer-btn .disabled {
    cursor: not-allowed;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
    pointer-events: none;
}

#edui_fixedlayer{ z-index:99999999 !important; }

/*.mmGrid .mmg-bodyWrapper .mmg-body{ width:100% !important;}*/


.iframe-tab{ height: 40px; position: relative; z-index: 9999; margin-top: 15px;}
.edui-default .edui-editor,.edui-default .edui-editor-iframeholder{ width:auto !important;}

.addPerson{ position:relative;}
.addPerson .addPerson-btn{ position:absolute; top: 11px; right: 11px; font-size: 27px; color: #19C9B4;}

.ccr{ border:1px solid #ddd;background:#fff; min-height: 100px; position: absolute; z-index: 9999; width: 240px; right: 8px; top: 38px; display: none;}
.actived .ccr{ display:block;}
.ccr a{ display:block;padding:0 20px; line-height: 26px;position:relative; border-bottom: 1px solid #f0f0f0;}
.ccr a span{ position:absolute; right: 10px;display:none; top: 0;}
.ccr a:hover{ background:#f0f0f0;}
.ccr a:hover span{ display:block;}

.ccrDel{ position:absolute; top: 9px; height: 27px; overflow: auto; width: 90%;}
.ccrDel li{ float: left;margin-left:10px; margin-top: 2px;}
.ccrDel li a{ display:block;background:#f0f0f0; padding: 2px 30px 2px 10px;border-radius:3px;position:relative;z-index:1; /* padding-right:10px; */ text-align: left;}
.ccrDel li a span{ position:absolute;right:10px;top:0;}

#container select{ width:auto !important;}
img{ max-width:100%;}
.info-wrapper{ position:relative;z-index:9;}
.info-wrapper .info{
    border: 1px solid #ccc;
    padding: 2px 20px 2px 5px;
    color: #666;
    position: absolute;
    display: none;
    line-height: 20px;
    background-color: #fff;
    border-radius: 2px;
}
.info-wrapper .dec{
    bottom: -8px;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    width: 17px;
}

.dec s {
    font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: -9px;
    width: 6px;
    color: #ccc;
}

.dec .dec1 {
    color: #ccc;
}

.dec .dec2 {
    color: #fff;
    top: -10px;
}

.form-btn{ position:fixed;height:22px;background:#fff;width:100%;border-top:1px solid #ddd;}


.action .select-box{ width:auto;}

.alink{ margin: 10px;margin-left: 20px; }
.alink a{ padding: 2px 5px;display:inline-block;*display:inline;*zoom:1; border: 1px solid #ddd; margin-right: 5px; margin-top: 10px;}
.alink a:hover{ border: 1px solid #4ec5b7;}
.alink a span{ display:inline-block;*display:inline;*zoom:1;padding:3px 5px; text-align: center;}
.alink a .duigou{  visibility: hidden;}
.alink a:hover .duigou,.alink a.active .duigou{ visibility:inherit;color:#fff;}
.alink  a.active{border: 1px solid #4ec5b7;color: #fff;background: #4ec5b7;}

.span-title{ white-space: nowrap;overflow:hidden;text-overflow:ellipsis; display:inline-block;*display:inline;*zoom:1;max-width: 125px;text-align: left;font-size: 14px;position: relative;top: 7px;height: 22px;overflow: hidden;line-height: 22px;/* font-size: 0; */}
.action .span-title{text-align: left;margin-right: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

a.span-title{ color: #19C9B4;}

a.disabled{ color:#333 !important;cursor:default;}


.hidLimt{margin: 20px 0 0;}
.hidLimt .mmPaginator .limit{ visibility:hidden; }

.tableStyle label{ margin-right:10px;}

/*.J-zhandian .mmg-head,.J-zhandian .mmg-headWrapper{ width:100%;}*/

.reply-box{}
.reply-box li{ border:1px solid #ddd; border-radius: 8px; padding: 10px; margin-bottom: 10px;}

.reply-box .reply{ text-align:right;}

.BMap_CityListCtrl{ right:74px !important; top: 10px !important; left: inherit !important;}

.photos{ display:block; position: relative; z-index: 111;}

.mobile-wrapper{position:relative;height: 560px;}
.mobile-ueditor{position:absolute;background: url("../images/phone_bg.png") no-repeat -22px -52px;width: 280px;height: 552px;background-size: 100%;left: 10px;}
.mobile-ueditor .contents{position:absolute;/* background:red; */top: 55px;bottom: 121px;left: 1px;right: 43px;background: #fff;overflow: auto;overflow-x: hidden;border-right: 1px solid #ddd;}
.mobile-ueditor .contents img{ max-width:100%;}
.mobie-fixed{
    position: fixed;
    top: 50px;
    left: 194px;
}


.wu-example {
    padding:20px;
    overflow: hidden;
}

#uploader .placeholder {
    min-height: 48px;
    padding-top: 169px;
    text-align: center;
    background: url(../images/image.png) center 59px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}

.layui-layer-content .baoming-fixed{ display:none !important;}

#uploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#uploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

#uploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
#uploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
#uploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}

#uploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

#uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

#uploader .filelist li {
    width: 110px;
    height: 110px;
    background: url(../images/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

#uploader .filelist li p.log {
    position: relative;
    top: -45px;
}

#uploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}

#uploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}
#uploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(../images/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

.pagerWrap{ position:fixed; }

.upImg{
    height: auto;
    overflow: hidden;
    padding: 0 0 10px;
}
.upImg li{ float:left; margin-bottom: 10px; margin-right: 10px; }
.upImg li a{ display:block; border: 1px solid #ddd; padding: 10px; height: 48px;border-radius: 4px; vertical-align: middle; width: 68px; position: relative; text-align: center; max-height: 65px; overflow: hidden; line-height: 48px;}
.upImg li img{ max-width:100%; /* height: 100%; */ vertical-align: middle;}
.upImg li a i{ display:none; position:absolute; /* top: 0; */ /* font-style:normal; */ /* font-size:14px; */ /* right: 0; */ top: 14%; left: 45%; font-style: normal; font-size: 28px; color: #ddd;}
.upImg li a:hover{ background: rgba(133, 137, 137, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff); }
.upImg li a:hover i{ display:block;}

.h2-title{ font-size: 16px; border-bottom: 1px solid #ddd; height: 36px;}
.h2-title .title{ float:left; font-size: 18px; position: relative; top: 13px;}
.btn-array { float:right; width: 250px;}
.btn-array .btn{ margin:0 !important; float: left;}

.h2-title .data-input{ width: 152px; float: right; position:relative; background: #19C9B4;}
.h2-title .data-input .input-text{ border:1px solid #ddd; background: #19C9B4;color:#fff; padding-left: 15px;cursor:pointer; /* position: relative; */ /* z-index: 2; */ width: 152px;}
.h2-title .data-input i{ position:absolute; right: 5px; top: 6px; color: #fff; z-index: 1; background: #19C9B4;}
.h2-title .w_auto{ margin:0; }

.mmGrid .mmg-message{width:100%;color:#666;top: 34px;}

.tabBar{ border-bottom:1px solid #ddd; }
.tabBar span{ background-color:#fff;border:1px solid #fff;position:relative;top:1px;border-bottom-color:#ddd;border-radius:4px 4px 0 0; font-weight: normal; font-size: 15px; padding: 0 20px;}
.tabBar span.current{ background-color:#fff;border-color:#ddd;color:#666;border-bottom-color:#fff;}


.mmGrid{
    /* -webkit-border-radius: 4px; */
    -moz-border-radius: 4px;
    /* border-radius: 4px; */
}

.mmGrid .mmg-headWrapper{
    background: #fff;
    filter: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    border-bottom: 1px solid #dddddd;
}

.mmGrid .mmg-headWrapper .mmg-head th{
    padding: 4px 6px;
    border-right: none;
    border-bottom: 0;
    background: #f3f5fa;
}

.mmGrid .mmg-headWrapper .mmg-head-border th{ border-right:1px solid #ddd;  }

.mmGrid .mmg-headWrapper .mmg-head th.mmg-groupCol{
    border-bottom: 1px solid #dddddd;
    /* border-right: 1px solid #ddd; */
    /* border-left: 1px solid #ddd; */
}

.mmGrid .mmg-backboard{
    background: #f7f7f7;
}
.mmGrid .mmg-bodyWrapper .mmg-body td{
    padding: 4px 6px;
    border-right: none;
    border-bottom: 1px solid #f0f0f0;

}

.mmGrid .mmg-bodyWrapper .mmg-body tr.hover td{
    background: #f5f5f5;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr:hover td{
    background: #f5f5f5;
}

.mmGrid .mmg-bodyWrapper .mmg-body tr.selected td{
    background: #fcf8e3;
}

.article .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,.article .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical{ background:#eee; }



.textarea{ height:157px; }

.excel-icon{ font-size: 24px; margin-left: 10px; color: #19C9B4;}

.layerPhoto{
    width: 107%;
}
.layerPhoto a{ position:relative; cursor:pointer;width: 82px; height: 86px; line-height: 86px;text-align:center;padding:2px;overflow: hidden; border: 1px solid #ddd; border-radius: 6px; margin-bottom: 10px; float: left;margin-right: 15px;}
.layerPhoto a img{ max-width:100%; }
.layerPhoto a:hover{ cursor:pointer;border-color:#19C9B4;}
.layerPhoto span{ position:absolute; z-index: 999999; top: -3px; left: 0; line-height: 22px; display: none;}
.layerPhoto a.active span{ display:block; }
.layer-main .actions{ padding:20px;margin-bottom:-20px }
.layerPhoto a i{ position:absolute; color: rgb(216, 202, 202); left: 50%; margin-left: -15px; font-size: 30px; top: 50%; margin-top: -47px; cursor: pointer;}
.del-action{
    text-align: right;
    padding-right: 20px;
    display:none;
    position: absolute;
    bottom: 15px;
    right: 0;
}
.del-action a{ margin-left:20px;}

.del-action.active{ display:block; }

.mmGrid .mmg-loading .mmg-loadingImg{ background:url(../images/loading.gif) }

.ad-row{ float:left;width:30%;margin-right:10px;margin-top:5px;margin-bottom:5px;}
.ad-row img{ display:block;margin:0 auto; margin-bottom: 5px; min-width: 60px;}

.layui-layer-page .layui-layer-content{ padding:20px 20px 10px;}
.addAds{ font-size: 81px;
    line-height: 97px;
    margin-left: 15px;color: #666;  }

.ad-row img{ cursor:pointer; }

.mod-wrapper{position:relative;height: 342px;overflow: hidden;overflow-y: auto;margin-top: -8px;margin-left: -8px;margin-right: -8px;margin-bottom: -8px;}
.mod-box{background:#fff;overflow-y:auto;border-right:1px solid #ddd;width: 120px;position: fixed;top: 156px;bottom: 92px;left: 96px;right: 0;margin-right: 0;overflow: hidden;}
.mod-box a{display:block;border:1px solid #ddd;margin:5px;height:60px;position: relative;background-size:108px 60px;overflow: hidden;}
.mod-box a .span-text{position:absolute;bottom:0;left:0;display:block;font-size:12px;background: rgba(51, 51, 51, 0.45);width:100%;height:22px;line-height:22px;color: #fff;padding: 0 5px;}
.mod-box a:hover{ border:1px solid red;}
.mod-wrapper .mobile-wrapper{position: fixed;right: 37px;width: 248px;overflow: hidden;/* border-right: 1px solid #ddd; */margin-top: 0;padding-top: 10px;/* border-left: 1px solid #ddd; */top: 33px;bottom: 154px;}
.mod-wrapper .mod-editor{position:absolute;top:0;left: 120px;overflow-y:auto;right: 236px;/* background: red; */margin-top: -1px;padding-top: 73px;}

.mod-bgWrapper{ cursor:pointer;}
.mod-item-style{
    padding: 0 10px;
}
.mod-item-style .layui-layer-setwin{top: 50%;left: 50%;z-index:99;margin-top: -35px;margin-left: -30px;}
.mod-bg{ background:rgba(51, 51, 51, 0.45);position:absolute;top:0;left:0;bottom:0;right:0;
    z-index:9;}

.modMsg{
    position: fixed;
    /* top: 10px; */
    bottom: 66px;
    right: 61px;
    color: green;
    display:none;
    z-index: 999999999999999999999;
}

.moban-box{
    overflow: hidden;
}
.moban-box .modbox-cont{position:absolute;top:0;bottom:0;overflow-y:auto;padding-top: 37px;}
.moban-box .moban-tab{position:relative;z-index:999;background: #fff;}
.moban-box ul{border-bottom:1px solid #ddd;margin-left: -1px;width: 105%;height: auto;overflow: hidden;}
.moban-box li{display:inline-block;width: 62px;text-align: center;border-left: 1px solid #ddd;height: 32px;line-height: 32px;float: left;cursor:pointer;}
.moban-box li.active{ background:#dd;}
.modbox-cont .cont-item{display:none;overflow: hidden;overflow-y: auto;}
.moban-box .cont-item li{width: 120px;height:80px;}

.edui-default .edui-editor-toolbarbox{
    position: fixed !important;
    right: 276px;
    left: 217px;
    z-index: 9999;
    top: 156px;
}
.edui-editor-iframeholder .edui-default.active{ margin-top:73px; }

.mod-wrapper2 .mobile-wrapper{ top:29px; }
.mod-wrapper2 .mod-editor{ left:-1px; }
.mod-wrapper2 .edui-default .edui-editor-toolbarbox{ left: 134px;top: 171px; }

.mod-wrapper3 .edui-default .edui-editor-toolbarbox{ position:relative !important;top:0;left:0;}


.layui-layer-btn .layui-layer-btn0{ position:relative;z-index:99999999999; }

.table tbody tr .active{ background:none !important; }



.edui-static .edui-editor-toolbarbox{position: relative !important;left:0;top:0;right:0;}

.haikangStyle .J-row-hidden{ display:none;}
.huamaiStyle .J-row-hidden2{ display:none;}